@model IEnumerable<VacationManagement.ShiftGroup>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schichtgruppen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID01)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID02)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID02)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ShiftGroupID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ShiftGroupID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ShiftGroupID })
            </td>
        </tr>
    }

</table>